<% include header %>

<body class="bg-dark">
  <main role="main">
      <div class="card-deck-wrapper container">
        <div class="row">
          <% cards.forEach((card) => { %>
            <%include card %>
            <% }) %>
          </div>
        </div>
    </main>

    <% include footer %>
